@using System.Globalization
@using Microsoft.Ajax.Utilities
@model madurativas.db.mchat
@{
    ViewBag.Title = "Editar";
}
<link rel="stylesheet" href="~/Content/bootstrap-switch.min.css" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap-switch.min.js"></script>

<h2>Cuestionario para la detección oportuna de Autismo en la Infancia (M-CHAT-R)*</h2>
<hr />
<p>Ante cada pregunta, responde SÍ o NO de acuerdo a la conducta diaria que presenta su hijo. En caso de que ese comportamiento sea poco frecuente (si lo apreciaste entre una y tres veces), consigna una respuesta negativa. Test para realizar <strong style="color: red;">entre los 16 y los 30 meses de vida del niño</strong>. Si el comportamiento es infrecuente (usted sólo lo ha observado una o dos veces) conteste que el niño no lo manifiesta</p>
<hr />
@{
    var _Caledad = DateTime.Now.Subtract(Model.estudio.Paciente.fechaNacimiento);

    var _edad = Convert.ToInt32((_Caledad.TotalDays / 365.25) * 12);
}
<p style="font-weight: bold;">Edad del Paciente: @_edad</p>
<hr />
<p>La Lista de Chequeo Modificada para Autismo en Deambuladores, Revisada con Seguimiento (Modified Checklist for Autism in Toddlers, Revised with Follow-Up, M-CHAT-R/F; Robins, Fein, & Barton, 2009) es una herramienta de pesquisa en 2 etapas completada por padres que sirve para evaluar el riesgo de Trastorno del Espectro Autista (TEA). </p>
<hr />
@if (_edad < 16)
{
    <p style="color: red; font-weight: bold;">ATENCIÓN: Este test no está diseñado para la implementación en niños de menores a 16 meses</p>
}
@if (_edad > 30)
{
    <p style="color: red;font-weight: bold;">ATENCIÓN: Este test no está diseñado para su implementación en niños mayores de 30 meses</p>

}
else
{
    <p style="color: red;font-weight: bold;">Edad del paciente adecuada para la realización del test</p>

}
<hr />
@using (Html.BeginForm("Index", null, FormMethod.Post, new { id = "FrmMChat" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.estudio_id)

        <div class="form-group">
            <label class="control-label col-md-8">
                1. Si Ud. señala algo que está del otro lado de la habitación, ¿su hijo o hija mira hacia allí? (POR EJEMPLO: si Ud. señala un juguete o un animal, ¿su hijo o hija mira al juguete o al animal?)
            </label>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_1", Convert.ToBoolean(Model.quest_1), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.quest_1, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-8">2. ¿Alguna vez se preguntó si su hijo o hija era sordo o sorda?</label>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_2", Convert.ToBoolean(Model.quest_2), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.quest_2, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-8">
                3. ¿Su hijo o hija juega a simular, hacer “como si”, o juegos de imaginación? (POR EJEMPLO: simula que toma de una taza vacía, finge hablar por teléfono, o hace como que le da de comer a una muñeca o a un peluche?)
            </label>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_3", Convert.ToBoolean(Model.quest_3), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.quest_3, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-8">
                4. ¿A su hijo o hija le gusta treparse a las cosas? (POR EJEMPLO: muebles, juegos de la plaza, o escaleras)
            </label>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_4", Convert.ToBoolean(Model.quest_4), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.quest_4, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-8">
                5. ¿Su hijo o hija hace movimientos raros con los dedos cerca de sus ojos? (POR EJEMPLO: ¿mueve o agita los dedos cerca de sus ojos de manera rara?)
            </label>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_5", Convert.ToBoolean(Model.quest_5), new { @class = "form-control  switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.quest_5, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-8">
                6. ¿Su hijo o hija señala con el dedo cuando quiere pedir algo o buscar ayuda? (POR EJEMPLO: señala algún alimento o juguete que está fuera de su alcance)
            </label>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_6", Convert.ToBoolean(Model.quest_6), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.quest_6, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-8">
                7. ¿Su hijo o hija señala con el dedo cuando quiere mostrarle algo interesante? (POR EJEMPLO: señala un avión en el cielo o un camión muy grande en la calle)
            </label>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_7", Convert.ToBoolean(Model.quest_7), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.quest_7, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-8">
                8. ¿Su hijo o hija se interesa por otros niños? (POR EJEMPLO: ¿mira a otros niños, les sonríe, se acerca a ellos?)
            </label>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_8", Convert.ToBoolean(Model.quest_8), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.quest_8, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-8">
                9. ¿Su hijo o hija le muestra cosas, trayéndoselas o alzándolas para que Ud. las vea – no para buscar ayuda sino simplemente para compartirlas con Ud.? (POR EJEMPLO: le muestra una flor, un peluche, o un camión de juguete)
            </label>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_9", Convert.ToBoolean(Model.quest_9), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.quest_9, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-8">
                10. ¿Su hijo o hija responde cuando lo/la llama por su nombre? (POR EJEMPLO: ¿su hijo o hija lo mira o la mira, habla o balbucea, o interrumpe lo que está haciendo cuando lo/la llama por su nombre?)
            </label>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_10", Convert.ToBoolean(Model.quest_10), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.quest_10, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-8">
                11. ¿Cuando le sonríe a su hijo o hija, ¿le devuelve la sonrisa?
            </label>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_11", Convert.ToBoolean(Model.quest_11), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.quest_11, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-8">
                12. ¿A su hijo o hija le molestan los ruidos comunes de todos los días? (POR EJEMPLO: ¿su hijo o hija grita o llora cuando escucha una aspiradora, una licuadora, una moto, la radio, música fuerte u otro ruido común?)
            </label>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_12", Convert.ToBoolean(Model.quest_12), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.quest_12, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-8">
                13. ¿Su hijo o hija camina?
            </label>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_13", Convert.ToBoolean(Model.quest_13), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.quest_13, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-8">
                14. ¿Su hijo o hija lo/la mira a los ojos cuando le está hablando, jugando con él/ella, o cuando lo/la está vistiendo?
            </label>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_14", Convert.ToBoolean(Model.quest_14), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.quest_14, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-8">
                15. ¿Su hijo o hija trata de copiar lo que Ud. hace? (POR EJEMPLO: decir adiós con la mano, aplaudir, o hacer un ruido gracioso cuando Ud. lo hace)
            </label>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_15", Convert.ToBoolean(Model.quest_15), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.quest_15, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-8">
                16. Si Ud. se da vuelta para mirar algo, ¿su hijo o hija gira la cabeza para ver lo que Ud. está mirando?
            </label>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_16", Convert.ToBoolean(Model.quest_16), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.quest_16, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-8">
                17. ¿Su hijo o hija intenta hacer que Ud. lo/la mire? (POR EJEMPLO: ¿su hijo o hija lo/la mira para que lo/la felicite, o dice “mirá” o “mirame”?)
            </label>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_17", Convert.ToBoolean(Model.quest_17), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.quest_17, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-8">
                18. ¿Su hijo o hija entiende cuando Ud. le dice que haga algo? (POR EJEMPLO: si Ud. no se lo señala, ¿su hijo o hija entiende cuando le pide “poné el libro sobre la silla” o “traeme la frazadita”?)
            </label>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_18", Convert.ToBoolean(Model.quest_18), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.quest_18, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-8">
                19. Si pasa algo nuevo, ¿su hijo o hija lo/la mira a la cara para ver qué hace Ud.? (POR EJEMPLO: si su hijo o hija escucha un ruido raro o gracioso, o ve un juguete nuevo, ¿lo/la mira a la cara?)
            </label>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_19", Convert.ToBoolean(Model.quest_19), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.quest_19, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-8">
                20. ¿A su hijo o hija le gustan las actividades de movimiento? (POR EJEMPLO: hamacarse o jugar al “caballito” sobre sus rodillas)
            </label>
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.CheckBox("quest_20", Convert.ToBoolean(Model.quest_20), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                    @Html.ValidationMessageFor(model => model.quest_20, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div style="color: red">
        @if (Model.completado)
        {
            if (@ViewBag.Puntuacion <= 2)
            {

                var msg = (_edad < 24) ? "Pesquisar nuevamente luego de los 2 años de edad" : "No es necesario adoptar otras medidas a menos que la evaluación del desarrollo indique riesgo de TEA.";
                <p>BAJO RIESGO: @msg </p>
            }
            else if (@ViewBag.Puntuacion <= 7)
            {
                <p>MEDIANO RIESGO: Es aceptable omitir la entrevista de Seguimiento y derivar inmediatamente a evaluación diagnóstica y evaluación de necesidad de intervención temprana.</p>
            }
            else
            {
                <p>ALTO RIESGO: Administre la entrevista de Seguimiento (segunda etapa del M-CHAT-R/F) para obtener más información con respecto a las respuestas de riesgo.</p>

            }
        }
    </div>
    <hr />
    <a href="http://www.panaacea.org/wp-content/uploads/2015/12/M-CHAT-R_F_Spanish_Argentina_Uruguay.pdf">http://www.panaacea.org/wp-content/uploads/2015/12/M-CHAT-R_F_Spanish_Argentina_Uruguay.pdf</a>
    <hr />
    <div>
       
            <button id="btnMchat" type="submit" class="btn btn-primary">Guardar</button>
        @Html.ActionLink("Volver al Inicio", "Edit", "Home", new { id = Model.estudio_id }, new { @class = "btn btn-primary " })
    </div>

}


<script>
    $(".switch").bootstrapSwitch();



</script>