@using System.Collections
@using madurativas.db
@model Paciente

<div class="modal-content">

    @{
        var db = new madurativasEntities();
        var leng = db.hitos_lenguaje.OrderBy(s => s.lenguaje_id);
        var _Caledad = DateTime.Now.Subtract(Model.fechaNacimiento);

        var _edad = Convert.ToDecimal((_Caledad.TotalDays / 365.25).ToString("F1"));

        string Resultado(decimal min, decimal max)
        {
            if (_edad <= min) { return "Aún no se debería presentar"; }
            return _edad >= max ? "Debería estar presente" : "Puede o no cumplir";
        }

        string BackgroundColor(decimal min, decimal max)
        {
            return (_edad <= min) ? "white" : _edad >= max ? "red" : "green";

        }

        string Color(decimal min, decimal max)
        {
            return (_edad <= min) ? "Black" : "White";

        }

    }
    <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <table class="col-md-12">
            <tr>
                <td class="col-md-6">
                    <h3 class="modal-title">Lenguaje</h3>
                    <h5><strong>Paciente:</strong> @Model.FullName</h5>
                    <h5><strong>Edad:</strong> @_edad años.</h5> 
                </td>
                <td class="col-md-6">
                    <h4 style="color: red; float: right;"><strong>No es una prueba diagnóstica</strong></h4>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-body" id="bodyLenguaje">
        <div>
            <table>
                <tr>
                    <td>¿Antecedentes familiares de dislexia? ***:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>¿Nombra al menos 10 letras?***</td>
                    <td></td>
                </tr>
            </table>

        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Lenguaje</th>
                    <th>Min*</th>
                    <th>Max**</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in leng)
                {
                    <tr>
                        <td>@item.descripcion</td>
                        <td>@item.min</td>
                        <td>@item.max</td>
                        <td style="background:@BackgroundColor(@item.min, @item.max); color:@Color(@item.min, @item.max);">@Resultado(item.min, item.max)</td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
        <p> *Mínimo: IC 95 inferior para el Percentilo 25 o 50 publicado</p>
        <p>**Máximo: IC 95 superior para el Percentilo 90 publicado</p>
        <p>
            ***Lyytinen H, Erskine J, Ronimus M y colaboradores. Dyslexia - Early Identification and Prevention: Highlights from the Jyväskylä Longitudinal Study of Dyslexia. Current Developmental Disorders Reports 2(4):330-338, 2015
        </p>
    </div>

    <div class="modal-footer">
        <div class="form-group">
            <div class="col-md-12">
                <button id="btnPersonalSocial" type="submit" class="btn btn-primary " data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

