@model madurativas.db.mchat
<div class="modal-content">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
       
        <table class="col-md-12">

            <tr>
                <td class="col-md-6">

                    <h4 class="modal-title">
                        Si pasa algo nuevo, ¿@Model.estudio.Paciente.nombre lo/la mira a la cara para ver qué hace Ud.?
                    </h4>
                </td>
                <td class="col-md-6">
                    <h4 style="color: red; float: right;"><strong>No es una prueba diagnóstica</strong></h4>
                </td>
            </tr>
        </table>
    </div>

    <div class="modal-body" id="bodyLenguaje">

        <div class="row">
            <div class="col-md-6">
                @using (@Html.BeginForm("SaveDetailQuest19", null, FormMethod.Post, new { id = "FrmQuest19" }))
                {
                    @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-8">
                            19. Si pasa algo nuevo, ¿@Model.estudio.Paciente.nombre lo/la mira a la cara para ver qué hace Ud.?
                        </label>
                        <div class="col-md-4">
                            <div class="checkbox">
                                @Html.CheckBox("quest_1", Convert.ToBoolean(Model.mchat_monitor_quest_19.quest1), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                @Html.ValidationMessageFor(model => model.mchat_monitor_quest_19.quest1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group" id="divQuest2" style="display:none">
                        <label class="control-label col-md-8">
                            Si su hijo o hija escucha un ruido extraño o que lo/la asusta, ¿lo/la miraría a Ud. antes de reaccionar?
                        </label>
                        <div class="col-md-4">
                            <div class="checkbox">
                                @Html.CheckBox("quest_2", Convert.ToBoolean(Model.mchat_monitor_quest_19.quest2), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                @Html.ValidationMessageFor(model => model.mchat_monitor_quest_19.quest2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="divQuest3" style="display:none">
                        <label class="control-label col-md-8">
                            ¿Su hijo o hija lo/la mira a cuando se acerca alguien que no conoce?
                        </label>
                        <div class="col-md-4">
                            <div class="checkbox">
                                @Html.CheckBox("quest_3", Convert.ToBoolean(Model.mchat_monitor_quest_19.quest3), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                @Html.ValidationMessageFor(model => model.mchat_monitor_quest_19.quest3, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="divQuest4" style="display:none">
                        <label class="control-label col-md-8">
                            ¿Su hijo o hija lo/la mira a cuando se encuentra en una situación desconocida o un poco atemorizante?
                        </label>
                        <div class="col-md-4">
                            <div class="checkbox">
                                @Html.CheckBox("quest_4", Convert.ToBoolean(Model.mchat_monitor_quest_19.quest4), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                @Html.ValidationMessageFor(model => model.mchat_monitor_quest_19.quest4, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-8">
                            Resultado de la Prueba:
                        </label>
                        <div class="col-md-4">
                            <label class="control-label col-md-8" id="lblResultado">
                            </label>
                        </div>
                    </div>
                </div>
                }
            </div>
            <div class="col-md-6">
                <img src="@Url.Content("~/Content/images/quest19.png")" alt="img_quest19" />
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group">
            <div class="col-md-12">
                <button id="btndtq19Save" type="submit" class="btn btn-primary" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        var $dt19_quest1 = $('#FrmQuest19 #quest_1');
        var $dt19_quest2 = $('#FrmQuest19 #quest_2');
        var $dt19_quest3 = $('#FrmQuest19 #quest_3');
        var $dt19_quest4 = $('#FrmQuest19 #quest_4');
        var $dt19_Resultado = $('#FrmQuest19 #lblResultado');
        var $divQuest2 = $('#FrmQuest19 #divQuest2');
        var $divQuest3 = $('#FrmQuest19 #divQuest3');
        var $divQuest4 = $('#FrmQuest19 #divQuest4');

        function validaResultado() {

            if ($dt19_quest1.is(':checked')) {
                Resultado("Pasa");
            } else {

                if ($dt19_quest2.is(':checked')) {
                    Resultado("Pasa");
                } else if ($dt19_quest3.is(':checked')) {
                    Resultado("Pasa");
                } else if ($dt19_quest4.is(':checked')) {
                    Resultado("Pasa");
                } else {
                    Resultado("Falla");
                }

            }


        }

        function Resultado(valor) {
            $dt19_Resultado.empty();
            $dt19_Resultado.append(valor);
        }


        function muestraCampos() {
            if (!$dt19_quest1.is(':checked')) {
                $divQuest2.show();
            } else {
                $divQuest2.hide();
            }

            if (!$dt19_quest2.is(':checked')) {
                $divQuest3.show();
            } else {
                $divQuest3.hide();
            }

            if (!$dt19_quest3.is(':checked')) {
                $divQuest4.show();
            } else {
                $divQuest4.hide();
            }

            validaResultado();
        }

        muestraCampos();


        $('div.bootstrap-switch-container > span').click(function () {

            muestraCampos();


        });


        $("#btndtq19Save").click(function (e) {

            e.preventDefault();

            var form = $("#FrmQuest19");

            var _pasa;
            if ($dt19_Resultado.text().toLowerCase() == "pasa") {
                _pasa = true;
            } else { _pasa = false; } 

            var q19datos = {
                estudioId: $("#estudio_id").val(),
                quest1: $dt19_quest1.is(":checked"),
                quest2: $dt19_quest2.is(":checked"),
                quest3: $dt19_quest3.is(":checked"),
                quest4: $dt19_quest4.is(":checked"),
                pasa: _pasa
            };

            $.ajax({
                url: form.attr("action"),
                method: form.attr("method"),
                data: q19datos
            });

        });

    });
</script>