@model madurativas.db.mchat
<div class="modal-content">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
       
        <table class="col-md-12">

            <tr>
                <td class="col-md-6">

                    <h4 class="modal-title">
                        ¿@Model.estudio.Paciente.nombre le muestra cosas, trayéndoselas o alzándolas para que Ud. las vea – no para buscar ayuda sino simplemente para compartirlas con Ud.?
                    </h4>
                </td>
                <td class="col-md-6">
                    <h4 style="color: red; float: right;"><strong>No es una prueba diagnóstica</strong></h4>
                </td>
            </tr>
        </table>
    </div>

    <div class="modal-body" id="bodyLenguaje">
        <div class="row">
            <div class="col-md-6">
                @using (@Html.BeginForm("SaveDetailQuest9", null, FormMethod.Post, new { id = "FrmQuest9" }))
                {
                    @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-8">
                            9. ¿@Model.estudio.Paciente.nombre le muestra cosas, trayéndoselas o alzándolas para que Ud. las vea – no para buscar ayuda sino simplemente para compartirlas con Ud.?
                        </label>
                        <div class="col-md-4">
                            <div class="checkbox">
                                @Html.CheckBox("quest_1", Convert.ToBoolean(Model.mchat_monitor_quest_9.quest1), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                @Html.ValidationMessageFor(model => model.mchat_monitor_quest_9.quest1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group" id="Observacion" style="display: none;">
                        <label class="control-label col-md-12" >
                            Por favor, deme un ejemplo de algo que le haya traído o que haya alzado para que Ud. vea (Si el padre/madre no da un ejemplo de PASA de los que están aquí, pregunte cada uno individualmente)
                        </label>
                        
                    </div>
                    
                    <div id="cuestionario" style="display:none;">

                        <div class="form-group">
                            <label class="control-label col-md-12" id="dt9_formulacion">
                                @string.Format("A veces {0} le trae...", @Model.estudio.Paciente.nombre.Trim()).Trim()
                            </label>
                        </div>

                        <hr />
                        <div class="form-group">
                            <label class="control-label col-md-8">
                                ¿Una foto o un juguete sólo para mostrarle?
                            </label>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    @Html.CheckBox("quest_2", Convert.ToBoolean(Model.mchat_monitor_quest_9.quest2), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                    @Html.ValidationMessageFor(model => model.mchat_monitor_quest_9.quest2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-8">
                                ¿Un dibujo que haya hecho?
                            </label>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    @Html.CheckBox("quest_3", Convert.ToBoolean(Model.mchat_monitor_quest_9.quest3), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                    @Html.ValidationMessageFor(model => model.mchat_monitor_quest_9.quest3, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-8">
                                ¿Una flor que haya recogido?
                            </label>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    @Html.CheckBox("quest_4", Convert.ToBoolean(Model.mchat_monitor_quest_9.quest4), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                    @Html.ValidationMessageFor(model => model.mchat_monitor_quest_9.quest4, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-8">
                                ¿Un insecto que haya encontrado en el pasto?
                            </label>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    @Html.CheckBox("quest_5", Convert.ToBoolean(Model.mchat_monitor_quest_9.quest5), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                    @Html.ValidationMessageFor(model => model.mchat_monitor_quest_9.quest5, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-8">
                                ¿Algunos bloques que haya unido entre sí?
                            </label>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    @Html.CheckBox("quest_6", Convert.ToBoolean(Model.mchat_monitor_quest_9.quest6), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                    @Html.ValidationMessageFor(model => model.mchat_monitor_quest_9.quest6, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-8">
                                Otros
                            </label>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    @Html.CheckBox("quest_7", Convert.ToBoolean(Model.mchat_monitor_quest_9.quest7), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                    @Html.ValidationMessageFor(model => model.mchat_monitor_quest_9.quest7, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="divDescriba" style="display:none">
                        <label class="control-label col-md-8">
                            Describa
                        </label>
                        <div class="col-md-4">

                            @Html.EditorFor(model => model.mchat_monitor_quest_9.quest8, new { @class = "form-control " })
                            @Html.ValidationMessageFor(model => model.mchat_monitor_quest_9.quest8, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group" id="div_quest9" style="display:none">
                        <label class="control-label col-md-8">
                            ¿A veces hace esto solo para mostrarle, y no para pedir ayuda?
                        </label>
                        <div class="col-md-4">
                            <div class="checkbox">
                                @Html.CheckBox("quest_9", Convert.ToBoolean(Model.mchat_monitor_quest_9.quest9), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                @Html.ValidationMessageFor(model => model.mchat_monitor_quest_9.quest9, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-8">
                            Resultado de la Prueba:
                        </label>
                        <div class="col-md-4">
                            <label class="control-label col-md-8" id="lblResultado">
                            </label>
                        </div>
                    </div>
                </div>
                }
            </div>
            <div class="col-md-6">
                <img src="@Url.Content("~/Content/images/quest9.png")" alt="img_quest9" />
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group">
            <div class="col-md-12">
                <button id="btndtq9Save" type="submit" class="btn btn-primary" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        var $dt9_quest1 = $('#FrmQuest9 #quest_1');
        var $dt9_quest2 = $('#FrmQuest9 #quest_2');
        var $dt9_quest3 = $('#FrmQuest9 #quest_3');
        var $dt9_quest4 = $('#FrmQuest9 #quest_4');
        var $dt9_quest5 = $('#FrmQuest9 #quest_5');
        var $dt9_quest6 = $('#FrmQuest9 #quest_6');
        var $dt9_quest7 = $('#FrmQuest9 #quest_7');
        var $dt9_quest8 = $('#FrmQuest9 #quest_8');
        var $dt9_quest9 = $('#FrmQuest9 #quest_9');

        var $dt9_Observacion = $('#FrmQuest9 #Observacion');
        var $dt9_cuestionario = $('#FrmQuest9 #cuestionario');
        var $dt9_Resultado = $('#FrmQuest9 #lblResultado');
        var $div_Describa = $('#FrmQuest9 #divDescriba');


        var $div_quest9 = $('#FrmQuest9  #div_quest9');

        function validaResultado() {

            if (CuentaNegativas() == 5) {
                Resultado("Falla");
            } else {
                if ($dt9_quest9.is(':checked')) {
                    Resultado("Pasa");
                } else {
                    Resultado("Falla");
                }
            }

        }

        function Resultado(valor) {
            $dt9_Resultado.empty();
            $dt9_Resultado.append(valor);
        }


        function muestraCampos() {
            if ($dt9_quest1.is(':checked')) {
                $dt9_Observacion.show();
                $dt9_cuestionario.show();
            } else {
                $dt9_Observacion.hide();
                $dt9_cuestionario.show();
            }

            if ($dt9_quest7.is(':checked')) {
                $div_Describa.show();
            } else {
                $div_Describa.hide();
            }

            if (CuentaNegativas() < 5) {
                $div_quest9.show();
            } else {
                $div_quest9.hide();
            }

            validaResultado();
        }

        muestraCampos();


        $('div.bootstrap-switch-container > span').click(function () {

            muestraCampos();
                       

        });


        function CuentaNegativas() {
            var nfallas = 0;

            if (!$dt9_quest2.is(':checked')) nfallas++;
            if (!$dt9_quest3.is(':checked')) nfallas++;
            if (!$dt9_quest4.is(':checked')) nfallas++;
            if (!$dt9_quest5.is(':checked')) nfallas++;
            if (!$dt9_quest6.is(':checked')) nfallas++;
        

            return nfallas;

        }

        $("#btndtq9Save").click(function (e) {

            e.preventDefault();

            var form = $("#FrmQuest9");

            var _pasa;
            if ($dt9_Resultado.text().toLowerCase() == "pasa") {
                _pasa = true;
            } else { _pasa = false; } 

            var q9datos = {
                estudioId: $("#estudio_id").val(),
                quest1: $dt9_quest1.is(":checked"),
                quest2: $dt9_quest2.is(":checked"),
                quest3: $dt9_quest3.is(":checked"),
                quest4: $dt9_quest4.is(":checked"),
                quest5: $dt9_quest5.is(":checked"),
                quest6: $dt9_quest6.is(":checked"),
                quest7: $dt9_quest7.is(":checked"),
                quest8: $dt9_quest8.val(),
                quest9: $dt9_quest9.is(":checked"),
                pasa: _pasa
            };

            $.ajax({
                url: form.attr("action"),
                method: form.attr("method"),
                data: q9datos
            });

        });

    });
</script>