@model madurativas.db.mchat
<div class="modal-content">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
       
        <table class="col-md-12">

            <tr>
                <td class="col-md-6">

                    <h4 class="modal-title">
                        ¿@Model.estudio.Paciente.nombre lo/la mira a los ojos cuando le está hablando, jugando con él/ella, o cuando lo/la está vistiendo?
                    </h4>
                </td>
                <td class="col-md-6">
                    <h4 style="color: red; float: right;"><strong>No es una prueba diagnóstica</strong></h4>
                </td>
            </tr>
        </table>
    </div>

    <div class="modal-body" id="bodyLenguaje">

        <div class="row">
            <div class="col-md-6">
                @using (@Html.BeginForm("SaveDetailQuest14", null, FormMethod.Post, new { id = "FrmQuest14" }))
                {
                    @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-8">
                            14. ¿@Model.estudio.Paciente.nombre lo/la mira a los ojos cuando le está hablando, jugando con él /ella, o cuando lo/la está vistiendo?
                        </label>
                        <div class="col-md-4">
                            <div class="checkbox">
                                @Html.CheckBox("quest_1", Convert.ToBoolean(Model.mchat_monitor_quest_14.quest1), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                @Html.ValidationMessageFor(model => model.mchat_monitor_quest_14.quest1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group" id="divQuest2" style="display:none;">
                        <label class="control-label col-md-8">
                            Por favor, deme un ejemplo de cuando lo/la mira a los ojos (Si el padre/madre no da un ejemplo de PASA de los que están aquí, pregunte cada uno individualmente)
                        </label>
                        <div class="col-md-4">
                            <div class="checkbox">
                                @Html.CheckBox("quest_2", Convert.ToBoolean(Model.mchat_monitor_quest_14.quest2), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                @Html.ValidationMessageFor(model => model.mchat_monitor_quest_14.quest2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div id="dt14Cuestionario" style="display:none;">
                        <div class="form-group">
                            <label class="control-label col-md-8">
                                ¿Necesita algo?
                            </label>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    @Html.CheckBox("quest_3", Convert.ToBoolean(Model.mchat_monitor_quest_14.quest3), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                    @Html.ValidationMessageFor(model => model.mchat_monitor_quest_14.quest3, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-8">
                                ¿Está jugando con él o ella?
                            </label>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    @Html.CheckBox("quest_4", Convert.ToBoolean(Model.mchat_monitor_quest_14.quest4), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                    @Html.ValidationMessageFor(model => model.mchat_monitor_quest_14.quest4, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-8">
                                ¿Le está dando de comer?
                            </label>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    @Html.CheckBox("quest_5", Convert.ToBoolean(Model.mchat_monitor_quest_14.quest5), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                    @Html.ValidationMessageFor(model => model.mchat_monitor_quest_14.quest5, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-8">
                                ¿No responde?
                            </label>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    @Html.CheckBox("quest_6", Convert.ToBoolean(Model.mchat_monitor_quest_14.quest6), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                    @Html.ValidationMessageFor(model => model.mchat_monitor_quest_14.quest6, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-8">
                                ¿Parece escuchar pero lo/la ignora?
                            </label>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    @Html.CheckBox("quest_7", Convert.ToBoolean(Model.mchat_monitor_quest_14.quest7), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                    @Html.ValidationMessageFor(model => model.mchat_monitor_quest_14.quest7, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-8">
                                ¿Responde sólo si el padre/madre está frente a la cara del niño/a?
                            </label>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    @Html.CheckBox("quest_8", Convert.ToBoolean(Model.mchat_monitor_quest_14.quest8), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                    @Html.ValidationMessageFor(model => model.mchat_monitor_quest_14.quest8, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-8">
                                ¿Responde sólo si lo/la tocan?
                            </label>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    @Html.CheckBox("quest_9", Convert.ToBoolean(Model.mchat_monitor_quest_14.quest9), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                    @Html.ValidationMessageFor(model => model.mchat_monitor_quest_14.quest9, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="divQuest10" style="display:none;">
                        <label class="control-label col-md-8">
                            ¿Su hijo o hija lo/la mira a los ojos todos los días?
                        </label>
                        <div class="col-md-4">
                            <div class="checkbox">
                                @Html.CheckBox("quest_10", Convert.ToBoolean(Model.mchat_monitor_quest_14.quest10), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                @Html.ValidationMessageFor(model => model.mchat_monitor_quest_14.quest10, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="divQuest11" style="display:none;">
                        <label class="control-label col-md-8">
                            En un día en el que están juntos/juntas durante el día entero ¿la/lo mira a los ojos al menos 5 veces?
                        </label>
                        <div class="col-md-4">
                            <div class="checkbox">
                                @Html.CheckBox("quest_11", Convert.ToBoolean(Model.mchat_monitor_quest_14.quest11), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                                @Html.ValidationMessageFor(model => model.mchat_monitor_quest_14.quest11, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-8">
                            Resultado de la Prueba:
                        </label>
                        <div class="col-md-4">
                            <label class="control-label col-md-8" id="lblResultado">
                            </label>
                        </div>
                    </div>
                </div>
                }
            </div>
            <div class="col-md-6">
                <img src="@Url.Content("~/Content/images/quest14.png")" alt="img_quest14" />
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group">
            <div class="col-md-12">
                <button id="btndtq14Save" type="submit" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        var $dt14_quest1 = $('#FrmQuest14 #quest_1');
        var $dt14_quest2 = $('#FrmQuest14 #quest_2');
        var $dt14_quest3 = $('#FrmQuest14 #quest_3');
        var $dt14_quest4 = $('#FrmQuest14 #quest_4');
        var $dt14_quest5 = $('#FrmQuest14 #quest_5');
        var $dt14_quest6 = $('#FrmQuest14 #quest_6');
        var $dt14_quest7 = $('#FrmQuest14 #quest_7');
        var $dt14_quest8 = $('#FrmQuest14 #quest_8');
        var $dt14_quest9 = $('#FrmQuest14 #quest_9');
        var $dt14_quest10 = $('#FrmQuest14 #quest_10');
        var $dt14_quest11 = $('#FrmQuest14 #quest_11');

        var $dt14_Resultado = $('#FrmQuest14 #lblResultado');
        var $divQuest2 = $('#FrmQuest14 #divQuest2');
        var $divQuest10 = $('#FrmQuest14 #divQuest10');
        var $divQuest11 = $('#FrmQuest14 #divQuest11');
        
        var $dt14_Cuestionario = $('#FrmQuest14 #dt14Cuestionario');

        function validaResultado() {

            if ($dt14_quest1.is(':checked')) {
                if ($dt14_quest2.is(':checked')) {
                    Resultado("Pasa");
                } else if (CuestionarioCuentaRespuestaSI() >= 2) {
                    Resultado("Pasa");
                } else if (!$dt14_quest10.is(':checked')) {
                    Resultado("Falla");
                } else if (!$dt14_quest11.is(':checked')) {
                    Resultado("Falla");
                } else {
                    Resultado("Pasa");
                }

            } else {

                if (CuestionarioCuentaRespuestaSI() >= 2) {
                    Resultado("Pasa");
                } else if (CuestionarioCuentaRespuestaSI() == 0) {
                    Resultado("Falla");
                } else if (!$dt14_quest10.is(':checked')) {
                    Resultado("Falla");
                } else if (!$dt14_quest11.is(':checked')) {
                    Resultado("Falla");
                } else {
                    Resultado("Pasa");
                }

            }


        }

        function CuestionarioCuentaRespuestaSI() {

            var nPasa = 0;

            if ($dt14_quest3.is(':checked')) nPasa++;
            if ($dt14_quest4.is(':checked')) nPasa++;
            if ($dt14_quest5.is(':checked')) nPasa++;
            if ($dt14_quest6.is(':checked')) nPasa++;
            if ($dt14_quest7.is(':checked')) nPasa++;
            if ($dt14_quest8.is(':checked')) nPasa++;
            if ($dt14_quest9.is(':checked')) nPasa++;

            return nPasa;

        }

        function Resultado(valor) {
            $dt14_Resultado.empty();
            $dt14_Resultado.append(valor);
        }


        function muestraCampos() {
            if ($dt14_quest1.is(':checked')) {
                $divQuest2.show();
                $dt14_Cuestionario.hide();
                if (!$dt14_quest2.is(':checked')) {
                    $dt14_Cuestionario.show();
                    if (CuestionarioCuentaRespuestaSI() >= 2) {
                        $divQuest10.hide();
                        $divQuest11.hide();
                    } else if (CuestionarioCuentaRespuestaSI() == 1) {

                        $divQuest10.show();
                        $divQuest11.hide();
                    }
                } else {
                    $dt14_Cuestionario.hide();
                }
            } else {
                $divQuest2.hide();
                $dt14_Cuestionario.show();
                if (CuestionarioCuentaRespuestaSI() >= 2) {
                    $divQuest10.hide();
                    $divQuest11.hide();
                } else if (CuestionarioCuentaRespuestaSI() == 1) {

                    $divQuest10.show();
                    $divQuest11.hide();

                    if ($dt14_quest10.is(':checked')) {
                        $divQuest11.show();
                    }
                    
                }
            }

            validaResultado();
        }

        muestraCampos();


        $('div.bootstrap-switch-container > span').click(function () {

            muestraCampos();


        });


        $("#btndtq14Save").click(function (e) {

            e.preventDefault();

            var form = $("#FrmQuest14");


            var _pasa;
            if ($dt14_Resultado.text().toLowerCase() == "pasa") {
                _pasa = true;
            } else { _pasa = false; } 

            var q14datos = {
                estudioId: $("#estudio_id").val(),
                quest1: $dt14_quest1.is(":checked"),
                quest2: $dt14_quest2.is(":checked"),
                quest3: $dt14_quest3.is(":checked"),
                quest4: $dt14_quest4.is(":checked"),
                quest5: $dt14_quest5.is(":checked"),
                quest6: $dt14_quest6.is(":checked"),
                quest7: $dt14_quest7.is(":checked"),
                quest8: $dt14_quest8.is(":checked"),
                quest9: $dt14_quest9.is(":checked"),
                quest10: $dt14_quest10.is(":checked"),
                quest11: $dt14_quest11.is(":checked"),
                pasa: _pasa
        };

            $.ajax({
                url: form.attr("action"),
                method: form.attr("method"),
                data: q14datos
            });

        });

    });
</script>