@model madurativas.db.eval_riesgos
<link rel="stylesheet" href="~/Content/bootstrap-switch.min.css" />
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">EVALUACIÓN - ANAMNESIS PARA DESTACAR RIESGOS</h2>
    </div>

    @using (Html.BeginForm("evalRiesgos", null, FormMethod.Post, new { id = "FrmEvalRiesgo" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-body" id="bodyEvalRiesgo">

            <div class="form-horizontal">
                @*<h4>Paciente: @ViewBag.px</h4>
        <h5>Fecha Nacimiento: @ViewBag.fnacimiento </h5>
        <hr />*@
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.estudioid)
                <div class="form-group">
                    @Html.Label("¿Hubo algún problema durante la gestación, parto o nacimiento del niño?", htmlAttributes: new { @class = "control-label col-md-8" })
                    <div class="col-md-4">
                        <div class="checkbox">
                            @Html.CheckBox("problema_gpn", Convert.ToBoolean(Model.problema_gpn), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                            @Html.ValidationMessageFor(model => model.problema_gpn, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-8">Problemas durante la gestación como hipertensión diabetes, eclampsia, infecciones intrauterinas (Ej: rubéola, toxoplasmosis, VIH/sida) o en el momento del nacimiento como asfixia intrauterina, hemorragia, fiebre materna, etc. </label>
                    <div class="col-md-4">
                        <div class="checkbox">
                            @Html.CheckBox("problema_gestacion_enfermedad", Convert.ToBoolean(Model.problema_gestacion_enfermedad), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                            @Html.ValidationMessageFor(model => model.problema_gestacion_enfermedad, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("¿El niño estuvo hospitalizado después de nacer? ", htmlAttributes: new { @class = "control-label col-md-8" })
                    <div class="col-md-4">
                        <div class="checkbox">
                            @Html.CheckBox("hospitalizado_postnacimiento", Convert.ToBoolean(Model.hospitalizado_postnacimiento), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                            @Html.ValidationMessageFor(model => model.hospitalizado_postnacimiento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("¿Ha padecido ictericia severa?", htmlAttributes: new { @class = "control-label col-md-8" })
                    <div class="col-md-4">
                        <div class="checkbox">
                            @Html.CheckBox("ictericiasevera", Convert.ToBoolean(Model.ictericiasevera), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                            @Html.ValidationMessageFor(model => model.ictericiasevera, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("¿Ha padecido alguna enfermedad grave? ", htmlAttributes: new { @class = "control-label col-md-8" })
                    <div class="col-md-4">
                        <div class="checkbox">
                            @Html.CheckBox("enfermedadgrave", Convert.ToBoolean(Model.enfermedadgrave), new { @class = "form-control  switch", @data_on_text = "Si", @data_off_text = "No" })
                            @Html.ValidationMessageFor(model => model.enfermedadgrave, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-8">Casos de deficiencia mental u otro disturbio mental en la familia.</label>
                    <div class="col-md-4">
                        <div class="checkbox">
                            @Html.CheckBox("deficienciamental", Convert.ToBoolean(Model.deficienciamental), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                            @Html.ValidationMessageFor(model => model.deficienciamental, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-8">Factores de riesgos ambientales como violencia familiar, depresión materna, drogas o alcoholismo, sospecha de abuso sexual, etc.</label>
                    <div class="col-md-4">
                        <div class="checkbox">
                            @Html.CheckBox("riesgos_ambientales", Convert.ToBoolean(Model.riesgos_ambientales), new { @class = "form-control switch", @data_on_text = "Si", @data_off_text = "No" })
                            @Html.ValidationMessageFor(model => model.riesgos_ambientales, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group" style="color: red; display:none;" id="divAlerta">
                    <div class="col-md-offset-2 col-md-6">
                        <label>
                            ATENCIÓN: PACIENTE EN RIESGO DE ALTERACIONES DEL DESARROLLO
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-12">
                    <button id="btnEvalRiesgos" type="submit" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                </div>
            </div>
        </div>
    }
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap-switch.min.js"></script>
<script>
    $(".switch").bootstrapSwitch();

    $(function () {

        var $eval_quest1 = $('#problema_gpn');
        var $eval_quest2 = $('#problema_gestacion_enfermedad');
        var $eval_quest3 = $('#hospitalizado_postnacimiento');
        var $eval_quest4 = $('#ictericiasevera');
        var $eval_quest5 = $('#enfermedadgrave');
        var $eval_quest6 = $('#deficienciamental');
        var $eval_quest7 = $('#riesgos_ambientales');
        var $divAlerta = $('#divAlerta');



        function EvalCuentaRepuestasNo() {
            var nfallas = 0;

            if (!$eval_quest1.is(':checked')) nfallas++;
            if (!$eval_quest2.is(':checked')) nfallas++;
            if (!$eval_quest3.is(':checked')) nfallas++;
            if (!$eval_quest4.is(':checked')) nfallas++;
            if (!$eval_quest5.is(':checked')) nfallas++;
            if (!$eval_quest6.is(':checked')) nfallas++;
            if (!$eval_quest7.is(':checked')) nfallas++;

            return nfallas;

        }


        function validaResultado() {

            if (EvalCuentaRepuestasNo() != 7) {
                $divAlerta.show();
            } else {
                $divAlerta.hide();
            }
        }

        validaResultado();

        $('div.bootstrap-switch-container > span').click(function () {

           
            validaResultado();

        });
    });
</script>